@charset 'UTF-8';

@import 'variables';
@import 'mixins';
@import 'icons';

@include font-face('hastebin-icons', '../font/hastebin/hastebin-icons', '20150224');
@include font-face('Exo 2', '../font/exo2/Exo2-Italic', '20150226', 400, italic);
@include font-face('Exo 2', '../font/exo2/Exo2-SemiBoldItalic', '20150226', 600, italic);

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 20px 50px;
  height: 100%;
  background: $base-bg-color;
}

#pastebox {
  height: 100%;
  font-family: $code-font-family;
  font-size: $code-font-size;

  // editor
  textarea {
    padding: 0;
    width: 100%;
    height: 100%;
    resize: none;
    border: 0;
    outline: none;
    color: white;
    background: transparent;
  }

  // viewer
  pre {
    padding: 0;
    padding-right: 360px;
    margin: 0;
    width: 100%;
    border: 0;
    outline: none;
    -o-tab-size: $code-tabsize;
    -moz-tab-size: $code-tabsize;
    tab-size: $code-tabsize;
  }
  code {
    padding: 0;
    background: transparent !important;  // don't hide hastebox
  }
}

/* the line numbers */

#linenos {
  position: absolute;
  top: 20px;
  left: 0;
  width: 30px;  // 30 to get 20 away from box
  color: $linenum-color;
  z-index: -1000;
  font-size: $code-font-size;
  font-family: $code-font-family;
  text-align: right;
}

// Action bar (that thing in the top right corner)

#actionbar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: +1000;  // watch out
}

.logo {
  padding: 0.8em;
  padding-bottom: 0.4em;
  text-align: center;
  background: $logo-bg-color;
}

.logo > a {
  font: italic normal 400 1.6em/1 "Exo 2";
  text-decoration: none;
  // this font looks ugly with antialiasing
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  opacity: .7;

  b {
    font-weight: 600;
  }

  &:hover {
    opacity: 1;
  }
}

.actions {
  padding: 0px 5px;
  background: $actionbar-bg-color;
}

.button {
  display: inline-block;
  padding: 0.5em 0.15em;
  color: white;
  opacity: .3;
  font-size: 1.15em;

  &:before {
    @include icon-style('hastebin-icons');
  }

  &.enabled {
    opacity: .7;
  }

  &.enabled:hover {
    cursor: pointer;
    opacity: 1;
  }
}

#save-button:before {
  content: $icon-save;
  font-size: 106%;  // compensate different icon size
}

#new-button:before {
  content: $icon-new;
}

#duplicate-button:before {
  content: $icon-edit;
}

#raw-button:before {
  content: $icon-text;
}

#twitter-button:before {
  content: $icon-twitter;
}

.tooltip, #messages li {
  padding: 10px 15px;
  background: $tooltip-bg-color;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
}

.tooltip-label, #messages li {
  color: #fff;
  font-weight: bold;
}

.tooltip-shortcut {
  color: #c4dce3;
  font-weight: normal;
}

#messages {
  position: fixed;
  top: 0;
  right: 138px;
  margin: 0;
  padding: 0;
  width: 400px;

  li {
    margin: 0 auto;
    background: rgba(23, 62, 72, 0.8);
    list-style: none;

    &.error {
      background: rgba(102, 8, 0, 0.8);
    }
  }
}
